@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

.centralizar{
    text-align: center;
}

.direita{
    text-align: right;
}

body {
    background-image: url('assets/imgcarro2.jpg');
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;  
}

html, body {
    height: 100%;
    margin: 0;  /* Remover margens padrão */
    padding: 0;  /* Remover padding padrão */
}